<center><h3>registration form</h3></center><hr>
<center><form action="/created" method="post">
Name     :<input type="text" name="name" required/><br><br>
Password: <input type="password" name="password" required/><br>
  <input type="submit" name="signup" value="sign up"/><br/>
  <a href='/login'>log in</a>
</form></center>
