<center><h3>login form</h3></center><hr>
<center><form action="/profile" method="post">
Name      : <input type="text" name="name" required/><br><br>
Password: <input type="password" name="password" required/><br>
  <input type="submit" name="login" value="log in"/><br/>
  <a href="/form">create an account</a>
</form></center>
